html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


.tweets-container {

    height: auto;
    margin: 2em;
    float: center;
     
  
  }
.tweets-container .tweet {

  height: auto;
  margin-bottom: 2em; 
  float: top;
  border: 1px solid #a0a0a0;
  border-radius: 10px; 

}

.tweets-container .avatar {
  float: left;
  width: 50px;
  height: 50px;
  
}

.tweets-container article { 
  float: center;
  width: 100%;
  opacity: 0.5;
}

.tweets-container article:hover {
  opacity: 1;
  float: center;
  width: 100%;
  display: block;
}


.tweets-container .hiddenIcon {
  
  display: none;

}

.tweets-container article:hover .hiddenIcon {
  float: right;
  width: 15px;
  height: 15px;
  padding-bottom: 0.30em;
  display: block; 
}


.tweets-container .name {
  font-size: 150%;
  font-weight: 700;
  float: left;
  padding-left: 0.3em;
}

.tweets-container .userId {
  float: right;
  font-weight: 300;
  margin: 0em;
  padding-top: 1em;
}

.tweets-container .tweetText {
  padding-top: 2em;
  font-weight: 300;
  padding-bottom: 2em; 
  padding-left: 1em;
   
}

.tweets-container header {
  height: 4em;
  background-color: #eee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0.5em;

}

.tweets-container footer {
  font-size: 75%;
  font-weight: 300;
  padding: .5em;
  border-top: 1px solid #a0a0a0;

}



